@media only screen and (min-width: 800px) and (max-width: 1300px) {
  #list-container {
    display: flex;
    flex-wrap: wrap;
    .review-item {
      width: 40%;
      min-width: 200px;
      justify-content: center;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}
@media only screen and (min-width: 1300px) {
  #list-container {
    display: flex;
    flex-wrap: wrap;
    .review-item {
      width: 28%;
      margin-left: 2.66%;
      margin-right: 2.66%;
    }
  }
}
